<section>


<div class="row p-5">

    <div *ngFor="let catg of AllCategory" class="col-lg-4">
        <div (click)="specsCatg(catg._id,catg.name)" class="p-3">

            <div class="product border border-4 rounded-4 overflow-hidden">
                <div>
                    <img height="400" class="w-100" [src]="catg.image" [alt]="catg.name">
                </div>

                <div class="text-center py-4">
                    <h4 class="text-main fw-bold">{{catg.name}}</h4>
                </div>
            </div>





        </div>

    </div>






</div>


<div *ngIf="Subcategory">
    <div class="text-center py-4"><h4 class="text-main fw-bold">{{CategoryName}}</h4></div>


<div class="row">

    <div class="col-lg-4 " *ngFor="let sub of Subcategory">

        <div class="p-5">

            <div class=" product text-center border border-3 rounded-4 py-4">
                <h5 class="fw-bold text-main">{{sub.name}}</h5>
            </div>
            
        </div>

    </div>


</div>

</div>






</section>